// Mixin to manage responsive breakpoints

// 400px, 768px, 1024px, 1440px
$breakpoints: (
  'small': 25em,
  'medium': 48em,
  'large': 64em,
  'xlarge': 90em
);

@mixin respond-to($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

// Mixin for screen readers
@mixin sr-only {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
