// Open Sans Family
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/open-sans-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/open-sans-700.woff2') format('woff2');
}

// Poppins Family
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/poppins-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/src/assets/fonts/poppins-600.woff2') format('woff2');
}

// Icomoon Family
@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url('/src/assets/fonts/icomoon.woff') format('woff');
}
