:root {
  --clr-primary: hsl(322, 100%, 66%);
  --clr-secondary: hsl(192, 100%, 9%);
  --clr-secondary-lt: hsl(193, 100%, 96%);
  --clr-base: hsl(208, 11%, 55%);
  --clr-ntrl: hsl(0, 0%, 100%);

  --ff-base: 'Open Sans', sans-serif;
  --ff-base-alt: 'Poppins', sans-serif;
}
