body {
  font-family: var(--ff-base);
}

h1,
h2,
h3 {
  font-family: var(--ff-base-alt);
  font-weight: 600;
  color: var(--clr-secondary);
}

i {
  // Use `!important` to prevent issues with browsers extensions that change fonts
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon {
  &-facebook::before {
    content: '\ea90';
  }
  &-instagram::before {
    content: '\ea92';
  }
  &-twitter::before {
    content: '\ea96';
  }
}
