@use '../utils' as *;

.info {
  width: 100%;
  padding: rem(58) rem(20);

  @include respond-to('large') {
    padding: rem(159) rem(80);
  }

  &__title {
    @include sr-only;
  }

  &__list {
    width: 100%;
    max-width: rem(400);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: rem(36);

    @include respond-to('large') {
      max-width: rem(1234);
    }
  }
}
